@page
@model WebApp.Pages_SaveGames.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SaveGameEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SaveGameEntity.Id" />
            <div class="form-group">
                
                <label asp-for="SaveGameEntity.SaveGameName" class="control-label"></label>
                <input asp-for="SaveGameEntity.SaveGameName" class="form-control" />
                <span asp-validation-for="SaveGameEntity.SaveGameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="SaveGameEntity.PlayerAName" class="control-label"></label>
                <input asp-for="SaveGameEntity.PlayerAName" class="form-control" />
                <span asp-validation-for="SaveGameEntity.PlayerAName" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="SaveGameEntity.PlayerBName" class="control-label"></label>
                <input asp-for="SaveGameEntity.PlayerBName" class="form-control" />
                <span asp-validation-for="SaveGameEntity.PlayerBName" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="SaveGameEntity.GameMode" class="control-label"></label>
                <select asp-for="SaveGameEntity.GameMode" class="form-control"></select>
                <span asp-validation-for="SaveGameEntity.GameMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="SaveGameEntity.SerializedJsonString" class="control-label"></label>
                <input asp-for="SaveGameEntity.SerializedJsonString" class="form-control" />
                <span asp-validation-for="SaveGameEntity.SerializedJsonString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
