@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <h1>TIC-TAC-TWO - Login</h1>
    
    <div class="row">
        <div class="col-md-4"></div>
            <form class="form-group" method="post">
                <label for="username-input">Enter username:</label>
                <input type="text" class="form-control" name="Username" id="username-input" placeholder="eg. coolusername123" required>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
    </div>
</div>